{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<!--
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
            
            
        </div>
        {{> "site-nav"}}
    </div>
</header> -->
<header>
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll="200" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
        </button>
            <a href="#">
            <!--   <div class="logo-container">
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="Sexo Grado">
                        </div>
                        <div class="brand">
                            SEXO GRADO
                        </div>
                </div> -->
                    
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul  class="nav navbar-nav navbar-center">
                <li>
                    <a href="#">
                        <i class="material-icons">restore_page</i> Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i> Contacto</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/Sex0Grado/" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/sexo_grado_/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                    </a>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image: url({{@blog.cover_image}});height: 730px;" id="web">
        <div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="site-title">
                        {{#if @blog.logo}}
                            <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                        {{else}}
                            {{@blog.title}}
                        {{/if}}
                    </h1>
					
                    {{#if @labs.subscribers}}

                        <section class="subscribe-form" style="padding-top: 30px;">
                            <h3 class="subscribe-form-title">Suscríbete a {{@blog.title}}</h3>
                            <p class="">¿Te atreves a descubrirte? Suscríbete y mantente al día</p>
                            {{subscribe_form placeholder="suscribete@example.com"}}
                        </section>  
                    {{/if}}
				</div>
			</div>
		</div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
